// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$mainFontSize: 19px;
$cardMaxWidth: 950px;

@font-face {
  font-family: "Maison Neue Thin";
  src: url("../fonts/maison_neue_thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.blog {
  transition: all .4s ease-in-out;
  position: relative;
  padding: 1.25px 7.5px;
  color: rgb(50, 50, 50);
  border: 0px solid white;
  max-width: $cardMaxWidth;
  margin: 0 auto;
  width: 94.5%;
  overflow: hidden;
  font-size: $mainFontSize;
  margin-top: 75px;
}

.leftPane {
  float: left;
  width: 25%;
}

.feed {
  float: left;
  width: 75%;
}

.allPostsLink:hover {
  text-decoration: none;
}

.filterPostsLabel {
  font-size: 20px;
}

.byCategoryLabel {
  font-family: 'Maison Neue Thin';
  font-size: 17px;
}

.filterPostsLabel, .byCategoryLabel {
  visibility: hidden;
  height: 0;
}

.expandLink {
  visibility: hidden;
  height: 0;
}
// end global

// for mobile
@media screen and (max-width: 975px) {
  .blog {
    width: 92.5%;
    margin-top: 40px;
  }
  .feed {
    width: 100%;
  }
  .leftPane {
    width: 100%;
    position: relative;
  }
  .filterPostsLabel {
    padding-bottom: 5px;
  }
  .byCategoryLabel {
    padding-bottom: 45px;
  }
  .filterPostsLabel, .byCategoryLabel {
    visibility: visible;
    height: initial;
  }
  .allPostsLink {
    font-size: 16px;
  }
  .expandLink {
    visibility: visible;
    height: initial;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 40px;
    transform: scale(1, .9);
    cursor: pointer;
  }
  .filterPane {
    transition: all 750ms linear;
    max-height: 0px;
    position: relative;
  }
  .filterPaneExpanded {
    max-height: 100vh;
  }
  .filterPaneCover {
    transition: all 250ms linear;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: white;
  }
  .filterPaneCoverExpanded {
    transition: all 750ms linear;
    opacity: 0;
    height: 0%;
  }
  .filterPaneInner {
    transition-delay: 0.2s;
    visibility: hidden;
  }
  .filterPaneInnerExpanded {
    transition-delay: 0.3s;
    visibility: visible;
  }
}

// for desktop
$desktop_card_max_width: 1125px;
@media screen and (min-width: 1300px) {
  .blog {
    max-width: $desktop_card_max_width;
  }
}
