$activeColor: rgb(95, 210, 140);

.category {
  margin-bottom: 12.5px;
}

.link {
  transition: all 200ms linear;
  color: rgb(100, 100, 100);
  font-size: 18px;
}

.link:hover {
  color: $activeColor;
  text-decoration: none;
}

.delete {
  transition: all 200ms linear;
  display: inline-block;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
}

.delete:hover {
  color: rgb(255, 75, 75);
}
// end global

// for mobile
@media screen and (max-width: 975px) {
  .category {
    margin-bottom: 10px;
  }
  .link {
    font-size: 16px;
  }
}