@font-face {
  font-family: "Maison Neue Thin";
  src: url("../fonts/maison_neue_thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  margin-top: 65px;
  font-size: 18px;
}

.label {
  font-family: "Maison Neue Thin";
  padding-bottom: 22.5px;
}

.seeAllLink {
  display: block;
  font-family: "Maison Neue Thin";
  font-size: 18px;
  padding-top: 12.5px;
}