$activeColor: rgb(95, 210, 140);

@font-face {
  font-family: "Maison Neue Thin";
  src: url("../fonts/maison_neue_thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  margin-top: 65px;
  font-size: 18px;
}

.label {
  font-family: "Maison Neue Thin";
  padding-bottom: 22.5px;
}

.seeAllLink {
  display: block;
  font-family: "Maison Neue Thin";
  font-size: 18px;
  padding-top: 12.5px;
  cursor: pointer;
}

.seeAllLink:hover {
  text-decoration: none;
  color: $activeColor;
}
// end global

// for mobile
@media screen and (max-width: 975px) {
  .container {
    margin-top: 40px;
  }
  .tagContainer {
    padding-bottom: 50px;
  }
  .label {
    font-size: 16px;
    padding-bottom: 15px;
  }
  .seeAllLink {
    font-size: 16px;
    padding-top: 10px;
  }
}