$width: 100%;

.form {
  margin-bottom: 25px;
}

.fields {
  font-weight: initial;
  font-family: Helvetica;
  margin-bottom: 10px;
}

.row {
  width: 100%;
  margin-bottom: 2.5px;
  overflow-y: auto;
}

.imgInput {
  float: left;
  height: 48px;
}

.button {
  width: $width;
}
// end of global css

// for mobile
@media screen and (max-width: 975px) {
  .imgInput {
    height: 47.5px;
  }
}

// for small mobile
@media screen and (max-width: 500px) {
  .imgInput {
    height: 48px;
  }
}
// end small mobile