$templateFooterCardTopPadding: 60px;
$mainFontSize: 20px;
$activeColor: rgb(95, 210, 140);
$cardMaxWidth: 950px;

@mixin card {
  transition: all .4s ease-in-out;
  position: relative;
  padding: 1.25px 7.5px;
  color: rgb(50, 50, 50);
  border: 0px solid white;
  max-width: $cardMaxWidth;
  margin: 0 auto;
  width: 94.5%;
  overflow: auto;
  font-size: $mainFontSize;
}

.footer {
  width: 100%;
  background: rgb(38, 38, 38);
  min-height: 668px;
  overflow: auto;
  padding-bottom: 10px;
}

.menu {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.menuLabel {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

.menuItem {
  display: block;
}

.card {
  @include card;
  line-height: 175%;
  padding-top: $templateFooterCardTopPadding;
}

.cardContent {
  margin-bottom: 70px;
  width: 85%;
}

.cardName {
  font-size: 25px;
  margin-bottom: 7.5px;
}

.cardEmail {
  display: block;
  font-size: 18px;
  margin-bottom: 27.5px;
}

.text {
  color: rgb(95, 95, 95);
}

.darkLink {
  color: rgb(60, 60, 60);
}
// end of global css

// for mobile
$mobileFontSize: 18px;
@media screen and (max-width: 975px) {
  .card {
    @include card;
    font-size: $mobileFontSize;
    padding-top: $templateFooterCardTopPadding;
    width: 90%;
  }
  .text {
    font-size: $mobileFontSize;
  }
  .menuLabel {
    font-size: $mobileFontSize;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .cardEmail {
    margin-bottom: 15px;
  }
  .cardContent {
    margin-bottom: 40px;
    width: 90%;
  }
}
// end mobile

// for desktop
$desktopCardMaxWidth: 1125px;
@media screen and (min-width: 1300px) {
  .card {
    max-width: $desktopCardMaxWidth;
    width: 90%;
  }
  .cardContent {
    width: 50%;
  }
  .menu {
    width: 33.333333%;
  }
}
