.card {
  position: relative;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 25px;
  box-shadow: none;
  font-size: 20px;
}

.cardContent {
  width: 100%;
}

.time {
  color: rgb(200, 200, 200);
  margin-bottom: 40px;
}

.mainImg {
  width: 110%;
}

.mainImgContainer {
  height: 500px;
  overflow: hidden;
  margin-bottom: 55px;
}

.title {
  font-size: 32.5px;
  margin-bottom: 20px;
}

.body {
  line-height: 175%;
  margin-bottom: 25px;
  font-family: Helvetica;
}
// end global

// for mobile
@media screen and (max-width: 975px) {
  .title, .body {
    margin-bottom: 20px;
  }
  .title {
    font-size: 27.5px;
  }
  .body {
    line-height: 150%;
    font-size: 17.5px;
  }
  .mainImgContainer {
    height: auto;
    margin-bottom: 47.5px;
  }
  .time, .category {
    font-size: 17.5px;
  }
}