$mainFontSize: 20px;
$activeColor: rgb(95, 210, 140);
$cardMaxWidth: 950px;

@mixin card {
  transition: all .4s ease-in-out;
  position: relative;
  padding: 1.25px 7.5px;
  color: rgb(50, 50, 50);
  border: 0px solid white;
  max-width: $cardMaxWidth;
  margin: 0 auto;
  width: 94.5%;
  overflow: auto;
  font-size: $mainFontSize;
}

.headerCard {
  @include card;
  padding-bottom: 12.5px;
}

.pageHeader {
  font-size: 35px;
  width: 80%;
}

.mainImg {
  display: block;
  position: relative;
  border: 0px solid white;
  margin: 0 auto;
  max-width: $cardMaxWidth;
}

.mainImgContainer {
  height: 550px;
  overflow: hidden;
  margin-bottom: 35px;
}

.projectImg {
  display: block;
  width: 80%;
}

.lilCImg {
  width: 100%;
  margin-bottom: 12.5px;
}

.lilCLink:hover {
  text-decoration: none;
}

.quote {
  width: 95%;
  font-size: 27.5px;
  line-height: 165%;
}

.quote:hover {
  text-decoration: none;
}

.doubleQuote {
  font-size: 35px;
  font-weight: bold;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

.quoteGiver {
  color: rgb(150, 150, 150);
}

// for mobile
$mobileFontSize: 18px;
@media screen and (max-width: 975px) {
  .pageHeader {
    font-size: 30px;
    width: 100%;
  }
  .headerCard {
    padding-bottom: 1.5px;
    width: 92.5%;
  }
  .mainImg {
    width: 100%;
  }
  .mainImgContainer {
    height: auto;
  }
  .quote {
    font-size: 22.5px;
    line-height: 150%;
  }
  .doubleQuote {
    font-size: 30px;
  }
}
// end mobile

// for desktop
$desktopCardMaxWidth: 1125px;
@media screen and (min-width: 1300px) {
  .mainImg {
    max-width: $desktopCardMaxWidth;
  }
  .headerCard {
    max-width: $desktopCardMaxWidth;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pageHeader {
    width: 65%;
  }
}
