// this CSS is not a module as it applies globally

$mainFontSize: 20px;
$activeColor: rgb(95, 210, 140);
$cardMaxWidth: 950px;

@font-face {
  font-family: "Maison Neue Light";
  src: url("../fonts/maison_neue_light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin card {
  transition: all .4s ease-in-out;
  position: relative;
  padding: 1.25px 7.5px;
  color: rgb(50, 50, 50);
  border: 0px solid white;
  max-width: $cardMaxWidth;
  margin: 0 auto;
  width: 94.5%;
  overflow: auto;
  font-size: $mainFontSize;
}

html {
  font-family: "Maison Neue Light";
}

body {
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: rgb(50, 50, 50);
  font-weight: 400;
  font-size: $mainFontSize;
}

a:hover {
  text-decoration: underline;
}

::selection {
  color: white;
  background: rgb(85, 210, 140);
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.linkActive {
  color: $activeColor;
}

.linkSoft {
  color: rgb(200, 200, 200);
}

.linkUnderlined {
  text-decoration: underline;
}

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.verticalSpacer {
  padding-bottom: 40px;
}

.card {
  @include card;
  line-height: 175%;
}

.cardCol {
  float: left;
  width: 47.5%;
}

.cardColSpacer {
  float: left;
  width: 5%;
  height: 5px;
}

.pageHider {
  transition: all .3s ease-in-out;
}

.hidePage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.985),
                    rgba(255, 255, 255, 0.99));
  z-index: 10;
}

// other classes used by Trix img parent: attachment--preview attachment--jpg
// for the image itself
.attachment img {
  height: initial;
  margin: 0 10%;
  width: 80%;
}

// the figure element wrapping the img element
figure.attachment {
  width: 100%;
  margin: initial;
}

// images dragged into Trix input
form .attachment img {
  width: 100%;
  height: initial;
  margin: initial;
}

// pre is used for Trix code snippets
.trixElem pre {
  font-size: 15px;
  font-family: Consolas, Monaco, monospace;
  background-color: rgb(245, 245, 245);
  color: rgb(60, 60, 60);
  padding: 2.5px 10px;
  padding-bottom: 5px;
  line-height: 180%;
  // disables pre so that long lines still wrap
  white-space: pre-wrap;
}
// end of global css

// for mobile
$mobileFontSize: 18px;
@media screen and (max-width: 975px) {
  a {
    font-size: $mobileFontSize;
  }
  .verticalSpacer {
    padding-bottom: 27.5px;
  }
  .card {
    @include card;
    font-size: $mobileFontSize;
    width: 90%;
  }
  .cardCol {
    width: 100%;
  }
  trix-toolbar .trix-button-row {
    font-size: 10px;
  }
  .attachment img {
    margin: 0;
    width: 100%;
  }
  .trixElem pre {
    font-size: 12px;
    padding: 0 5px;
    padding-bottom: 2.5px;
  }
}
// end mobile

// for desktop
$desktopCardMaxWidth: 1125px;
@media screen and (min-width: 1300px) {
  .card {
    max-width: $desktopCardMaxWidth;
  }
}
