$mainFontSize: 20px;
$activeColor: rgb(95, 210, 140);
$cardMaxWidth: 950px;

@font-face {
  font-family: "Maison Neue Thin";
  src: url("../fonts/maison_neue_thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Maison Neue Light";
  src: url("../fonts/maison_neue_light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin card {
  transition: all .4s ease-in-out;
  position: relative;
  padding: 1.25px 7.5px;
  color: rgb(50, 50, 50);
  border: 0px solid white;
  max-width: $cardMaxWidth;
  margin: 0 auto;
  width: 94.5%;
  overflow: auto;
  font-size: $mainFontSize;
}

.headerContainer {
  @include card;
  line-height: 175%;
  height: 50px;
  overflow: hidden;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -7.5px;
  margin-top: -1px;
}

.avatarContainer {
  float: left;
}

@mixin avatarItem {
  position: absolute;
  left: 62.5px;
  white-space: nowrap;
  font-size: 18px;
}

.avatarName {
  @include avatarItem;
  transition: all 200ms linear;
  top: -2.5px;
}

.avatarTitle {
  @include avatarItem;
  top: 22.5px;
  font-family: "Maison Neue Thin";
}

.headerLink:hover {
  text-decoration: none;
  color: $activeColor;
}

.navBar {
  float: right;
  margin-top: 7.5px;
}

.navBarLink {
  transition: all 200ms linear;
  padding: 15px 18px;
  font-size: 18px;
  font-weight: 400;
}

.emailNavBarLink {
  font-family: "Maison Neue Thin";
  padding-right: 0px;
}

$menuLinkContainerSize: 80px;
.menuLinkContainer {
  transition: all 0.25s ease-in-out;
  position: absolute;
  top: 0px;
  right: 0px;
  width: $menuLinkContainerSize;
  height: $menuLinkContainerSize;
  z-index: 10;
  cursor: pointer;
}

.menuLinkContainerOpen {
  background: $activeColor;
  position: fixed;
}

.menuLinkOpen {
  color: white;
}

.menuLink {
  position: absolute;
  top: 35px;
  right: 35px;
  display: block;
  height: 20px;
  width: 20px;
  visibility: hidden;
  font-size: 25px;
  transform: scale(1.1, 1);
  z-index: 15;
}

.navLinks {
  transition: all .25s ease-in;
  padding-top: 20px;
}

.navLinksContainer {
  transition: all .35s ease-in-out;
  position: fixed;
  top: 0;
  left: -100%;
  width: calc(100% - #{$menuLinkContainerSize});
  height: 100%;
  z-index: 15;
}

.navLinksContainerOpen {
  left: 0;
}

.navMenuLink {
	display: block;
	padding: 12.5px 22.5px;
  letter-spacing: 4px;
  color: rgb(100, 100, 100);
  font-size: 20px;
}

.navIconLinks {
  font-size: 50px;
}

.menuLinkHidden {
  visibility: hidden;
  display: block;
  height: 0;
}

.barsIcon {
  width: 21.5px;
  position: absolute;
  right: -6.5px;
}

.barsIconBar {
  width: 100%;
  height: 2.5px;
  background: black;
  margin-bottom: 4.5px;
}

.xIcon {
  width: 140%;
  height: 150%;
  position: absolute;
  top: -9px;
  left: 1.5px;
  color: white;
  filter: brightness(1.5);
}

.verticalSpacer {
  margin-top: 2.5px;
}
// end of global css

// for mobile
$mobileFontSize: 18px;
@media screen and (max-width: 975px) {
  .avatar {
    width: 40px;
    height: 40px;
  }
  .avatarName {
    top: -3px;
    left: 52.5px;
    font-size: 16px;
  }
  .avatarTitle {
    top: 17px;
    left: 52.5px;
    font-size: 16px;
    font-family: "Maison Neue Light";
  }
  .headerContainer {
    @include card;
    font-size: $mobileFontSize;
    width: 90%;
    margin-left: 15px;
    overflow: hidden;
  }
  .verticalSpacer {
    padding-bottom: 20px;
  }
  .navBar {
    visibility: hidden;
  }
  .menuLink {
    visibility: visible;
  }
}
// end mobile

// for desktop
$desktopCardMaxWidth: 1125px;
@media screen and (min-width: 1300px) {
  .headerContainer {
    max-width: $desktopCardMaxWidth;
  }
}
