.flex {
  flex-grow: 1;
}

.name {
  text-decoration: none;
  color: black;
}

.root {
  flex-grow: 1;
}

.navBar {
  background: white;
}

.avatar {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  font-size: 10px;
}
