$width: 100%;

.form {
  margin-bottom: 25px;
}

.fields {
  font-weight: initial;
  font-family: Helvetica;
  margin-bottom: 10px;
}

.row {
  width: 100%;
  margin-bottom: 2.5px;
  overflow-y: auto;
}

.textField {
  width: 70%;
}

.textArea {
  width: calc(100% - 6px);
  margin-bottom: 5px;
}

.imgInput {
  float: left;
  height: 48px;
  width: 30%;
}

.button {
  width: $width;
}
// end of global css

// for mobile
@media screen and (max-width: 975px) {
  .imgInput {
    height: 47.5px;
  }
}

// for small mobile
@media screen and (max-width: 500px) {
  .imgInput {
    height: 48px;
    width: 37.5%;
  }
  .textField {
    width: 62.5%;
  }
}
// end small mobile