$mainFontSize: 19px;
$maxWidth: 750px;

.container {
  transition: all .4s ease-in-out;
  position: relative;
  padding: 1.25px 7.5px;
  color: rgb(50, 50, 50);
  border: 0px solid white;
  max-width: $maxWidth;
  margin: 0 auto;
  width: 94.5%;
  overflow: hidden;
  font-size: $mainFontSize;
  margin-top: 50px;
}

// for mobile
@media screen and (max-width: 975px) {
  .container {
    width: 92.5%;
    margin-top: 20px;
  }
}
// end mobile

// for desktop
@media screen and (min-width: 1300px) {
}
