$width: 100%;

.form {
  margin-bottom: 25px;
}

.fields {
  font-weight: initial;
  font-family: Helvetica;
  margin-bottom: 10px;
}

.row {
  width: 100%;
  margin-bottom: 2.5px;
  overflow-y: auto;
}

.textField {
  width: 75%;
}

.imgInput {
  float: right;
  height: 48px;
  width: calc(25% - 10px);
}

.textArea {
  width: calc(100% - 6px);
  margin-bottom: 5px;
}

.button {
  width: $width;
}

.select {
  width: 30%;
}

.chipInput {
  width: calc(70% - 10px);
}
// end of global css

// for mobile
@media screen and (max-width: 975px) {
  .imgInput {
    height: 47.5px;
  }
}

// for small mobile
@media screen and (max-width: 500px) {
  .imgInput {
    height: 48px;
    width: calc(37.5% - 10px);
  }
  .textField {
    width: 62.5%;
  }
  .select {
    width: 40%
  }
  .chipInput {
    width: calc(60% - 10px);
  }
}
// end small mobile