.button {
  transition: all .4s ease-in-out;
  position: fixed;
  bottom: 27.5px;
  right: 37.5px;
  z-index: 5;
  color: rgba(200, 200, 200, 0.0);
  font-size: 50px;
}

.showButton {
  color: rgba(200, 200, 200, 1);
}
